@import "@heroui/styles";
@plugin "@tailwindcss/typography";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.notepad {
  width: 100%;
  flex: 1;
  min-height: 0;
  resize: none;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  box-sizing: border-box;
}
